@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flag-icons/css/flag-icons.min.css';

.flag-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
    font-size: 1.2em;
    line-height: 1;
}

/* تأكد من أن خيارات السحب تستخدم نفس الخط */
select option {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
}